.fa {
    color: #537188;
    font-size: 38px;
    padding-left: 15px;
}

.carousel-item {
    height: 50vh;
}

* {
    color: #537188;
    background-color: #EEEEEE;
    font-family: "Open Sans", sans-serif;
}

#red-background {
    background-color: #CBB279;
}

/* change the brand and text color */
.navbar-custom .container-fluid .navbar-brand,
.navbar-custom .container-fluid .navbar-text {
    color: #537188;
    font-family: "Open Sans", sans-serif;
}
/* change the link color */
.navbar-custom .container-fluid .navbar-nav .nav-link {
    color: #537188;
    font-family: "Open Sans", sans-serif;
}
/* change the color of active or hovered links */
.navbar-custom .container-fluid .nav-item.active .nav-link,
.navbar-custom .container-fluid .nav-item:hover .nav-link {
    color: #CBB279;
    font-family: "Open Sans", sans-serif;
}

.navbar-toggler {
    margin-top: 10px;
    margin-bottom: 10px;
}

.who-am-i {
    flex-direction: row-reverse;
}

.bd-placeholder-img {
    background-color: #537188;
    font-family: "Open Sans", sans-serif;
}

.carousel-caption, #myCarousel .carousel-indicators, .carousel-control-icon, .bi {
    background-color: transparent;
}

.carousel-caption p {
    background-color: transparent;
    color: #E1D4BB;
    font-family: "Open Sans", sans-serif;
}

.carousel-caption {
    flex-direction: column;
}

span.carousel-control-next-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23E1D4BB' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5L3.75 4l-2.5 2.5L2.75 8l4-4-4-4z'/%3e%3c/svg%3e");
}
  
span.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23E1D4BB' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5L4.25 4l2.5-2.5L5.25 0z'/%3e%3c/svg%3e");
}

.carousel-indicators li
{
      background-color: #000 !important;
       /*more custom style*/
}

.carousel-indicators .active {
    background-color: #E1D4BB !important;
}

.footer-container, .footer-text{
    background-color: #CBB279;
    color: #537188;
    font-family: "Open Sans", sans-serif;
}